<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="New Layout for pi-css website" />
    <meta name="theme-color" content="#155799" />
    <!-- Danish Support Lang -->

    <link rel="alternate" hreflang="en" href="https://pi-css.plexicz.com" />
    <link rel="alternate" hreflang="da" href="https://da.pi-css.plexicz.com" />
    <script
      type="text/javascript"
      src="https://cdn.weglot.com/weglot.min.js"
    ></script>
    <script>
      Weglot.initialize({
        api_key: "wg_dfbd1c03b3c750483582b5d207ec72079",
      });
    </script>
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="style.css" />
    <!-- pi-css -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/pi-css@0.0.3/css/index.css"
    />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rambla&display=swap"
      rel="stylesheet"
    />

    <title>Example of PI-CSS new Layout</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="display-flex">
      <div id="logo">
        <h1>pi-css</h1>
      </div>
      <ul class="nav-links display-flex">
        <li>
          <a href="#"> Download</a>
        </li>
        <br />
        <li>
          <a href="#"> Documentation</a>
        </li>
        <li><a href="#">Examples</a></li>
      </ul>
    </nav>
    <!-- welcome section -->
    <section class="welcome">
      <br />
      <h1 class="text-center text-black">pi-css</h1>
      <p class="text-center text-white mt-1">
        The CSS <strong>framework</strong> based on
        <strong>html</strong> classes
      </p>
    </section>
  </body>
</html>
