* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body);
}

.center {
  width: 100%;
  text-align: center;
}

/* Root */

:root {
  --shadow: 0px 4px 5px rgb(0, 0, 0, 0.5);
  --dark: #16191c;
  --body: #f8f9fa;
}

/* header section */

.header {
  color: #fff;
  background-image: linear-gradient(120deg, #155799, #34383e);
  height: 18em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  font-family: Poppins;
  box-shadow: var(--shadow);
}

.header h1 {
  font-size: 55px;
  text-shadow: var(--shadow);
  text-transform: uppercase;
}

.header p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif !important;
}

.header strong {
  text-shadow: var(--shadow);
}

.header a {
  padding: 14px;
  margin-left: 15px;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  text-decoration: none;
  transition: color 0.4s, box-shadow 0.4s, margin-left 0.6s,
    font-size 0.3s ease-in-out;
}

.header a:hover {
  color: white;
  box-shadow: var(--shadow);
}

/* Content 1 */

.content-1 {
  font-family: Poppins !important;
}

.content-1 a {
  font-family: Arial, Helvetica, sans-serif !important;
  border: 0.1rem solid #101010;
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px;
  box-shadow: var(--shadow);
  text-decoration: none;
  transition: color 0.4s, background 0.4s;
}

.content-1 a:hover {
  background: #101010;
  color: #fff;
}

/* Installation section */

.install {
  background: var(--dark);
  height: 18em;
}

/* Footer */

footer {
  position: fixed;
  bottom: 20px;
  margin-left: 0.5em;
  font-family: Poppins !important;
  cursor: pointer;
  font-size: 20px;
}

/* Downloads page */

.header-2 {
  color: #fff;
  background-image: linear-gradient(120deg, #155799, #34383e);
  height: 15em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  font-family: Poppins;
  box-shadow: var(--shadow);
}

.header-2 h1 {
  font-size: 55px;
  text-shadow: var(--shadow);
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.header-2 p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif !important;
}

.header-2 strong {
  text-shadow: var(--shadow);
}

/* head  */

.head a {
  margin-right: 10px;
}

/* dowloads versions section */

/* Mobile Design */

@media screen and (max-width: 650px) {
  /* header section */
  .header {
    text-align: center;
  }

  .github-btn {
    display: none !important;
  }

  /* content 1 */

  .content-1 a {
    margin-top: 0.7em;
    display: inline-block;
  }

  /* header 2 on dowloads page */

  .header-2 h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 470px) {
  /* footer */
  footer {
    display: none;
  }
}
